node_modules
npm-debug.log
/AngularAttack2016_ABMV/.settings
/AngularAttack2016_ABMV/.mvn
/AngularAttack2016_ABMV/target
/AngularAttack2016_ABMV/data
/AngularAttack2016_ABMV/.classpath
/AngularAttack2016_ABMV/.project