<fieldset>
    <legend>About Us</legend>
    <p style="font-weight: bold">Sher'e Book - A Shared Library</p>
    <p>An Online portal to share books between individuals. Different individual publish their libraries on our portal.
        It will help them keep a track of their own library. Individuals who have a interest in reading books would search
        books that are shared and then get the contact details of the person who has shared the particular book. They are
        then expected to contact the individual and get the book to read for themselves and return it after a time specified
        by the book owner. The person sharing the book would update the status of the book as loaned when he has loaned it to
        another and clear the loaned status after he has got the book back.</p>
    <p>Happy Reading.</p>
</fieldset>
<fieldset>
    <legend>Developers</legend>
    <iframe src="http://githubbadge.appspot.com/aaronfdes" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
    <iframe src="http://githubbadge.appspot.com/bhaskeryadav" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
    <iframe src="http://githubbadge.appspot.com/mithilwane" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
    <iframe src="http://githubbadge.appspot.com/vforvikash" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
</fieldset>