<fieldset>
    <legend>About Us</legend>
    <p>A shared library</p>
</fieldset>
<fieldset>
    <legend>Developers</legend>
<iframe src="http://githubbadge.appspot.com/aaronfdes" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
<iframe src="http://githubbadge.appspot.com/bhaskeryadav" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
<iframe src="http://githubbadge.appspot.com/mithilwane" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
<iframe src="http://githubbadge.appspot.com/vforvikash" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
<p>A moment of silence for these poor misguided souls who tried to make an application in 48 hours.</p>
</fieldset>