<fieldset>
    
    <div class="well well-lg">
        <legend>{{book.title}}</legend>
       By {{book.authorName}}
    </div>
</fieldset>

<fieldset>
    <legend>Users who have this book</legend>
    <table class="table table-striped">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email Id</th>
        </tr>
        <tr *ngFor="let user of listUser;let i = index">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.emailId}}</td>
        </tr>
    </table>
</fieldset>