<fieldset>
    <legend>Book Details: {{id}}</legend>
    <div class="well well-lg">
        {{book.title}} | {{book.authorName}}
    </div>
</fieldset>

<fieldset>
    <legend>Users who have this book</legend>
    <table class="table table-striped">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Location</th>
            <th>Contact Info</th>
        </tr>
        <tr *ngFor="let user of listUser;let i = index">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.location}}</td>
            <td>{{user.contact}}</td>
        </tr>
    </table>
</fieldset>