<div class="row">
    <div class="col-sm-6 col-md-4" (click)="onclick()">
        <div class="thumbnail">
            <img src="../../../images/searchbooks.jpg" alt="could not load image">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h3>
                            <a class="btn btn-primary" role="button">Search
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </a>
                        </h3>
                        <p>Search for books</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" (click)="onclickUserView()">
        <div class="thumbnail">
            <img src="../../../images/mybooks.jpg" alt="could not load image">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h3>
                        <a class="btn btn-primary" role="button">View
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        </a>
                    </h3>
                    <p>View your books</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4" (click)="onclickAboutUs()">
        <div class="thumbnail">
            <img src="../../../images/aboutus.jpg" alt="could not load image">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h3>
                        <a class="btn btn-primary">About Us
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        </a>
                    </h3>
                    <p>Click here to know more</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <h3>Recently added</h3>
            <new-books></new-books>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <h3>Have you read?</h3>
            <random-books></random-books>
        </div>
    </div>
</div>