<fieldset>
  <legend>Book User List</legend>
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <div class="form-group">
      <label for="name">Search</label>
      <input type="text" class="form-control" required [(ngModel)]="textSearch" ngControl="searchText" #searchText="ngForm">
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!searchForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="onClear()">Clear</button>    
  </form>
  <button type="button" class="btn btn-default" (click)="onAddNew()" data-toggle="modal" data-target="#addBook">Add</button>
</fieldset>
<fieldset>
  <legend>Results</legend>
  <book-list [itemList]="listResults"></book-list>
</fieldset>

<!-- Modal -->
<div class="modal fade" id="addBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Book</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="showSucccess">
          Added Book Succcessfully
        </div>
        <form *ngIf="active" (ngSubmit)="onSaveBook()" #bookForm="ngForm">
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" required [(ngModel)]="book.title" ngControl="fTitle" #fTitle="ngForm">
            <div [hidden]="fTitle.valid || fTitle.pristine" class="alert alert-danger">
              Title is required
            </div>
          </div>          

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default" [disabled]="!bookForm.form.valid"  >Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>